[submodule "Submodules/Gloss"]
	path = Submodules/Gloss
	url = https://github.com/hkellaway/Gloss.git
	ignore = dirty
[submodule "Submodules/Charts"]
	path = Submodules/Charts
	url = https://github.com/danielgindi/Charts.git
	ignore = dirty
[submodule "Submodules/Callouts"]
	path = Submodules/Callouts
	url = https://github.com/nfarina/calloutview.git
